/* Шрифты */

/* ibm-plex-sans-100*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansthin.woff') format('woff'), url('../fonts/Ibmplexsansthin.woff2') format('woff2')
}

/* ibm-plex-sans-regular*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsans.woff') format('woff'), url('../fonts/Ibmplexsans.woff2') format('woff2')
}

/* ibm-plex-sans-600 */

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansmedium.woff') format('woff'), url('../fonts/Ibmplexsansmedium.woff2') format('woff2')
}

/* Общие стили */

html {
    font-family: IBM Plex Sans;
    max-width: 1080px;
    min-width: 550px;
    box-sizing: border-box;
}

body {
    max-width: 1080px;
    min-width: 550px;
}

header {
    box-sizing: border-box;
    font-style: normal;
    color: white;
    background: url('../images/bg-pic-header.jpg') no-repeat center/cover;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Header */

.nav__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav__secondcol {
    flex-grow: 4;
}

.logoInno {
    margin: 45px 4% auto 8.25%;
}

.row1, .row2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.row1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
    flex-wrap: wrap-reverse;
    text-transform: uppercase;
}

.row1 {
    margin-top: 45px;
}

.lang__sel {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 45px 9.25% auto auto;
}

.lang__sel p {
    margin: 0 5px 0;
}

.lang__sel svg {
    margin: auto;
}

.row1>p, .row1>button {
    margin: auto;
    white-space: nowrap;
}

.link__underline {
    border-bottom: 1px solid;
}

.row1>:hover, .row2>:hover {
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.row2>:hover {
    text-decoration: underline;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

button.callback:hover path[fill="#333333"] {
    fill: white;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

button.callback:hover {
    background: #A3CC40;
    color: white;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.callback {
    /* width: 130px;
    height: 21px; */
    font-family: inherit;
    border-radius: 6px;
    background: #FFF;
    color: #333333;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    height: fit-content;
    margin: auto 4px;
}

.callback svg {
    margin: auto 3px;
}

a {
    color: inherit;
    text-decoration: none;
}

header div h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    margin: 131px auto 0;
}

header div h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin: 14px auto 0;
    padding-bottom: 200px;
}

.nav__titles:after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 97vw solid #fff;
    /* border-left: 10px solid #000;
    border-bottom: 10px solid #000; */
    position: relative;
    left: 0;
    bottom: 0;
}

/* Блок Почему мы? Block00 Block01 */

.block00 {
    width: 426px;
    height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    display: block;
    position: relative;
    left: 50%;
    top: -100px;
    margin-bottom: -150px;
    z-index: 0;
}

.block00 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    /* identical to box height */
    color: #333333;
    padding: 30px 0 0;
    margin: 0 auto 25px;
    text-align: center;
}

.block00 p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    text-align: justify;
    margin: 0 47px 5px;
}

section h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    margin-left: 12.5%;
    z-index: 5;
}

.block01__advant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 84px auto 0;
}

.block01__advant h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    color: #333333;
    margin: 35px auto 0;
}

.block01__advant p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #333333;
    margin: 25px auto 0;
}

.block01__advant>div {
    width: 245px;
    height: 338px;
    margin: 0 13px 25px;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

form {
    color: white;
}

/* Блок с таблицей "Выберите фильм" */

.block03 {
    margin-top: 80px;
}

td, th {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 14px 15px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 84px auto 30px;
    max-width: 849px;
    table-layout: fixed;
}

.block03__table th {
    background: #A3CC40;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px;
}

.block03__table tr td {
    background: #373737;
}

.block03__table tr:nth-child(2n) td {
    background: #4C4D4F;
}

.block03__table__firstcol {
    width: 46px;
    text-align: center;
}

/* #block03__table__secondcol {
    width: 210px;
} */

/* #block03__table__thirdcol {
    width: 220px;
} */

/* #block03__table__fourcol {
    width: 272px;
} */

/* .block03__title {
    width: 849px;
    margin: 0px auto 84px;
} */

.block03__parag {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    width: 539px;
    margin: 0px auto 30px;
    padding: 0px 10px 40px;
    vertical-align: top;
}

/* Блок с подарком */

.block04 {
    background: url("../images/bg_block02.jpg") no-repeat center/cover;
}

.block04::before {
    content: '';
    display: block;
    /* border-top: 100px solid transparent;
    border-right: 97vw solid #fff; */
    border-left: 97vw solid #fff;
    border-bottom: 100px solid transparent;
    position: relative;
    left: 0;
    top: 0;
}

.block04::after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 97vw solid #fff;
    /* border-left: 97vw solid #fff;
    border-bottom: 100px solid transparent; */
    position: relative;
    left: 0;
    bottom: 0;
}

.block04>div {
    display: inline-block;
}

.block04__rightside {
    margin: 30px auto auto 12.8%;
    position: relative;
    top: -300px;
}

.block04__rightside img {
    max-width: 278px;
    max-height: 278px;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

.block04__leftside {
    max-width: 548px;
    margin-right: auto;
    position: relative;
    width: 50.8%;
    bottom: -10vw;
}

.block04__leftside>* {
    text-align: right;
    float: right;
}

.block04__leftside h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: white;
    margin-bottom: 38px;
}

.block04__leftside p {
    font-weight: 100;
    font-size: 11px;
    line-height: 14px;
    color: white;
    margin-bottom: 10px;
}

.block04__button {
    background: #A3CC40;
    border-radius: 6px;
    width: 190px;
    height: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: white;
    white-space: nowrap;
    text-align: center;
    margin-top: 26px;
    border-style: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1)
}

form button {
    height: 57px;
    width: 344px;
    background: #A3CC40;
    border-radius: 6px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.block04__button:hover {
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1)
}

/* Блок с выбором в виде мозайкой фильмов  */

.block05 {
    margin-top: 45px;
}

.block05 p {
    margin-top: 27px;
    max-width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    margin-left: 12.5%;
}

.block05__mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 64px auto 0;
    align-items: center;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    /* background-color: white;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 283px;
    height: 283px;
    background: white no-repeat center / cover;
}

.movieSelect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(144, 210, 61, 0.4); */
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.movieSelect:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(144, 210, 61, 0.4);
    /* background: rgba(0, 0, 0, .5); */
    z-index: 2;
    transition: all 0.15s cubic-bezier(0.4, 0, 1, 1);
}

.movieSelect:hover>* {
    visibility: visible;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.inner {
    position: relative;
    z-index: 3;
    color: #FFF;
}

li.movieSelect h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
    /* identical to box height */
    color: #FFFFFF;
    z-index: 4;
    width: 239px;
    text-align: left;
    margin: 17px auto 0;
    visibility: hidden;
}

li.movieSelect p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.2px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 13px auto auto;
    width: 237px;
    visibility: hidden;
}

/* Блок с выбором товаров  */

.block06 {
    margin-top: 79px;
}

.block06 p {
    margin-top: 27px;
    max-width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    margin-left: 12.5%;
}

.block06__list {
    margin: 57px auto 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 57px 12.5% 0;
    position: relative;
}

ul.block06__list li {
    height: 331px;
    width: 245px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 10px;
}

ul.block06__list li div {
    height: 153px;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

li.goodsSelect::after {
    content: '';
    position: absolute;
    border-top: 153px solid rgba(163, 204, 64, 0.8);
    border-right: 245px solid rgba(163, 204, 64, 0.8);
    /* border-left: 245px solid rgba(163, 204, 64, 0.8);
    border-bottom: 153px solid rgba(163, 204, 64, 0.8); */
    transform: rotate(-15deg) scaleX(3);
    transform-origin: right top;
    left: 0;
    bottom: 0;
    z-index: 0;
}

ul.block06__list li div h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    width: 177px;
    margin: 10px auto 0;
}

.goodsSelect {
    /* background-color: white;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 331px;
    width: 245px;
    background: white no-repeat center / cover;
}

/* Блок с отзывами */

.block07 {
    margin-top: 38px;
    background: url('../images/bg-block07.jpg') no-repeat center / cover;
    position: relative;
    width: 100%;
    z-index: 0;
}

.block07__prev{
    margin: 0 12.5% 0;
    padding: 126px 0 143px;
    position: relative;
}

.block07::before {
    content: '';
    display: block;
    /* border-top: 100px solid transparent;
    border-right: 97vw solid #fff; */
    border-left: 97vw solid #fff;
    border-bottom: 100px solid transparent;
    position: relative;
    left: 0;
    top: 0;
}

.block07::after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 97vw solid #fff;
    /* border-left: 97vw solid #fff;
    border-bottom: 100px solid transparent; */
    position: relative;
    left: 0;
    bottom: 0;
}

.block07 h3 {
    margin-left: 0;
}

.block07__prev p {
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.26rem;
    margin-top: 26px;
    display: inline-block;
    max-width: 548px;
}

.block07__list {
    /* width: 246px;
    height: 332px; */
    width: 210px;
    height: 284px;
    background: #97B13C;
    border-radius: 6px;
    overflow: hidden;
    color: #FFF;
    margin-top: 10px;
    transition: 0.1s;
    text-align: right;
}

.owl-item.active.center {
    transition: 0.3s;
    transform: scale(1.17);
}

.block07__listcontainer {
    margin-top: 99px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
}

.block07__list .block07__listimg {
    width: 210px;
    height: 153px;
}

#block07__pic-feedback-1 {
    background: url('..//images/pic-feedback-1.png') no-repeat center / cover;
}

#block07__pic-feedback-2 {
    background: url('../images/pic-feedback-2.png') no-repeat center / cover;
}

#block07__pic-feedback-3 {
    background: url('../images/pic-feedback-3.png') no-repeat center / cover;
}

#block07__pic-feedback-4 {
    background: url('../images/pic-feedback-4.jpg') no-repeat center / cover;
}

#block07__pic-feedback-5 {
    background: url('../images/pic-feedback-5.webp') no-repeat top center / cover;
}

.block07__list .block07__listtitle {
    margin: auto 16px auto;
}

.block07__list div h4 {
    margin-top: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
}

.block07__list div p {
    margin-top: 14px auto;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #FFF;
    margin-top: 14px;
}

.block07__list div p:last-child {
    margin-top: 14px auto;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 12px;
}

/* Блок с обратной связью*/

.block08__form {
    background: #FFFFFF;
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
    border-radius: 20px;
}

/* Блок с картой*/

.block09 {
    margin: 61px 12.5% 0;
    background: black;
}

/* Частные элементы */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#bgCinemaImg1 {
    background: url('../images/bg-movie-1.png') no-repeat center / cover;
}

#bgCinemaImg2 {
    background: url('../images/bg-movie-2.png') no-repeat center / cover;
}

#bgCinemaImg3 {
    background: url('../images/bg-movie-3.png') no-repeat center / cover;
}

#bgCinemaImg4 {
    background: url('../images/bg-movie-4.png') no-repeat center / cover;
}

#bgCinemaImg5 {
    background: url('../images/bg-movie-5.png') no-repeat center / cover;
}

#bgCinemaImg6 {
    background: url('../images/bg-movie-6.png') no-repeat center / cover;
}

#bgCinemaImg7 {
    background: url('../images/bg-movie-7.png') no-repeat center / cover;
}

#bgCinemaImg8 {
    background: url('../images/bg-movie-8.png') no-repeat center / cover;
}

#bgCinemaImg9 {
    background: url('../images/bg-movie-9.png') no-repeat center / cover;
}

#goodsPic1 {
    background: url('../images/bg-goods-1.png') no-repeat center / cover;
}

#goodsPic2 {
    background: url('../images/bg-goods-2.png') no-repeat center / cover;
}

#goodsPic3 {
    background: url('../images/bg-goods-3.png') no-repeat center / cover;
}

#logoInno {
    padding: 20px;
}

#backPoster {
    height: 527px;
    width: 414px;
    background: url('../images/bg-feedbacksection.png') no-repeat center / cover;
}

#imgMap {
    max-height: 421px;
    max-width: 973px;
    border-radius: 20px;
}

.block03__table__firstcol:hover path[fill="white"] {
    fill: #A3CC40;
    transition: all .8s ease;
}

/* После переноса svg вниз, перестал работать hover, я все вернул обратно, вновь начал работать */

/** Медиа – правила */