/* Шрифты */

/* ibm-plex-sans-100*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansthin.woff') format('woff'), url('../fonts/Ibmplexsansthin.woff2') format('woff2')
}

/* ibm-plex-sans-regular*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsans.woff') format('woff'), url('../fonts/Ibmplexsans.woff2') format('woff2')
}

/* ibm-plex-sans-600 */

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansmedium.woff') format('woff'), url('../fonts/Ibmplexsansmedium.woff2') format('woff2')
}

/* Общие стили */

html {
    font-family: IBM Plex Sans;
    font-size: 1.47vw;
    max-width: 1124px;
    min-width: 550px;
    box-sizing: border-box;
    z-index: 1;
}

header {
    box-sizing: border-box;
    font-style: normal;
    color: white;
    background: url('../images/bg-pic-header.jpg') no-repeat center/cover;
    width: 100%;
    height: 670px;
    position: relative;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main, body {
    z-index: 1;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: #A1A1A1;
}


/* Header */

.nav__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav__secondcol {
    flex-grow: 4;
}

.logoInno {
    margin: 53px 1% auto 8%;
}

.row1, .row2 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.58em;;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.row1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    flex-direction: row
}

.row2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
    flex-wrap: wrap;
    text-transform: uppercase;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.row2 li {
    margin-right: 6.38%;
}

.row2 li:first-child {
    margin-left: 4%;
}

.row1 {
    margin-top: 45px;
}

.lang__sel {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.33em;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 48px 7.8% auto auto
}

.lang__sel p {
    margin: 0 5px 0;
}

.lang__sel svg {
    margin: auto;
}

.row1>p, .row1>button {
    white-space: nowrap;
    margin-top: 0px;
    margin-left: 4.16%;
    margin-right: 3.22%;
}

.link__underline {
    border-bottom: 1px solid;
}

.row1>:hover, .row2>:hover {
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.row2>:hover {
    text-decoration: underline;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

button.callback:hover path[fill="#333333"] {
    fill: white;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

button.callback:hover {
    background: #A3CC40;
    color: white;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.callback {
    font-family: inherit;
    border-radius: 6px;
    background: #FFF;
    color: #333333;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-align: left;
    height: fit-content;
    margin: auto 4px;
    padding-right: 1em;
}

.callback svg {
    margin: auto 3px;
}

a {
    color: inherit;
    text-decoration: none;
}

header div h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 4.25rem;
    line-height: 1.29em;
    text-align: center;
    color: #FFFFFF;
    margin: 131px auto 0;
}

header div h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.5625rem;
    line-height: 1.28em;
    text-align: center;
    color: #FFFFFF;
    margin: 20px auto 0;
    padding-bottom: 190px;
}

.nav__titles:after {
    content: '';
    display: block;
    border-top: 132px solid transparent;
    border-right: 97vw solid #fff;
    position: absolute;
    bottom: 0px;
    right: 0;
    

}

/* Блок Почему мы? Block00 Block01 */

.block01 {
    margin-top: 20px;
}

.block00 {
    width: 37.9%;
    min-height: 221px;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    display: block;
    position: relative;
    left: 50%;
    top: -165px;
    margin-bottom: -212px;
    z-index: 0;
}

.block00 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.3em;
    /* identical to box height */
    color: #333333;
    padding: 30px 0 0;
    margin: 0 auto 23px 11.5%;
    text-align: left;
}

.block00 p {
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 1.27em;
    color: #333333;
    text-align: justify;
    margin: 0 11.5% 12px;
    max-width: 315px;
    text-align: left;
}

section h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.3em;
    color: #A3CC40;
    margin-left: 12%;
    z-index: 5;
}
/* _______здесь */

.block01__advant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 82px 12.3% 0;
    align-content: center;
    align-items: center;
}

.block01__advant>div {
    width: 245px;
    height: 338px;
    margin: 0 0 30px;
}

.block01__advant h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
    /* identical to box height */
    text-align: center;
    color: #333333;
    margin: 35px auto 0;
}

.block01__advant p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.875rem;
    text-align: center;
    color: #333333;
    margin: 25px auto 0;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

form {
    color: white;
}

/* Блок с таблицей "Выберите фильм" */

.block03 {
    margin-top: 115px;
}

td, th {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: left;
    padding: 14px 0px;
}

table {
    border-collapse: collapse;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 84px auto 0px;
    width: 75.53%;
    table-layout: fixed;
}

.block03__table th {
    background: #A3CC40;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.3rem;
    padding: 10px 0px;
}

.block03__table th.block03__table__thirdcol>:first-child {
    margin-right: 1.2%;
}

.block03__table tr td {
    background: #373737;
}

.block03__table tr:nth-child(2n) td {
    background: #4C4D4F;
}

.block03__table .block03__table__firstcol {
    width: 9.7%;
    text-align: left;
    padding-left: 3%;
}

.block03__table .block03__table__secondcol {
    width: 27.65%;
}

.block03__table__thirdcol {
    width: 28.47%;
}

.block03__parag {
    font-style: normal;
    font-weight: normal;
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    width: 47.91%;
    margin: 28px auto 0px;
    padding: 0px 10px 40px;
    vertical-align: top;
}

/* Блок с подарком */

.block04 {
    position: relative;
    margin-top: 67px;
    padding-bottom: 125px;
    background: url("../images/bg_block02.jpg") no-repeat center/cover;
    z-index: 1;
}

.block04::before {
    content: '';
    display: block;
    border-left: 97vw solid #fff;
    border-bottom: 116px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.block04::after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 97vw solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.block04>div {
    display: inline-block;
    z-index: 2;
}

.block04__lefttside {
    margin: 30px auto auto 12.2%;
    position: relative;
    top: -234px;
}

.block04__lefttside img {
    max-width: 278px;
    max-height: 278px;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

.block04__rightside {
    max-width: 548px;
    margin-right: auto;
    position: relative;
    width: 50.8%;
    bottom: -116px;
    margin-left: 24px;
}

.block04__rightside>* {
    text-align: right;
    float: right;
}

.block04__rightside h3 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.875rem;
    color: white;
    margin-bottom: 38px;
}

.block04__rightside p {
    font-weight: 100;
    font-size: .75rem;
    line-height: .875rem;
    color: white;
    margin-bottom: 18px;
}

.block04__rightside p:last-of-type {
    margin-bottom: 28px;
}

.block04__button {
    background: #A3CC40;
    border-radius: 6px;
    width: 190px;
    height: 31px;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.125rem;
    color: white;
    white-space: nowrap;
    text-align: center;
    border-style: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1)
}

form button {
    height: 57px;
    width: 344px;
    background: #A3CC40;
    border-radius: 6px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.block04__button:hover {
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1)
}

/* Блок с выбором в виде мозайкой фильмов  */

.block05 {
    margin-top: 55px;
}

.block05 p {
    margin-top: 27px;
    max-width: 34.25rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: .875rem;
    color: #333333;
    margin-left: 12.5%;
}

.block05__mosaic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 64px auto 0;
    align-items: center;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    width: 283px;
    height: 283px;
    background: white no-repeat center / cover;
}

.movieSelect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(144, 210, 61, 0.4); */
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.movieSelect:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(144, 210, 61, 0.4);
    /* background: rgba(0, 0, 0, .5); */
    z-index: 2;
    transition: all 0.15s cubic-bezier(0.4, 0, 1, 1);
}

.movieSelect:hover>* {
    visibility: visible;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.inner {
    position: relative;
    z-index: 3;
    color: #FFF;
}

li.movieSelect h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.375rem;
    /* identical to box height */
    color: #FFFFFF;
    z-index: 4;
    width: 239px;
    text-align: left;
    margin: 18px auto 0;
    visibility: hidden;
}

li.movieSelect p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: .875rem;
    /* identical to box height */
    color: #FFFFFF;
    margin: 13px auto auto;
    width: 237px;
    visibility: hidden;
}

/* Блок с выбором товаров  */

.block06 {
    margin-top: 84px;
}

.block06 p {
    margin-top: 27px;
    max-width: 548px;
    font-style: normal;
    font-weight: normal;
    font-size:0.75rem;
    line-height: .875rem;
    color: #333333;
    margin-left: 12.5%;
}

.block06__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 57px 12.5% 0;
}

ul.block06__list li {
    height: 331px;
    width: 245px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

ul.block06__list li div {
    height: 153px;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

li.goodsSelect::after {
    content: '';
    position: absolute;
    border-top: 153px solid rgba(163, 204, 64, 0.8);
    border-right: 245px solid rgba(163, 204, 64, 0.8);
    transform: rotate(-15deg) scaleX(3);
    transform-origin: right top;
    left: 0;
    bottom: 0;
    z-index: 0;
}

ul.block06__list li div h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    width: 177px;
    margin: 10px auto 0;
}

.goodsSelect {
    /* background-color: white;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 331px;
    width: 245px;
    background: white no-repeat center / cover;
}

/* Блок с отзывами */

.block07 {
    margin-top: 38px;
    background: url('../images/bg-block07.jpg') no-repeat center / cover;
    position: relative;
    width: 100%;
    z-index: 0;
}

.block07__prev {
    padding: 128px 0 122px;
    position: relative;
}

.block07::before {
    content: '';
    display: block;
    /* border-top: 100px solid transparent;
    border-right: 97vw solid #fff; */
    border-left: 97vw solid #fff;
    border-bottom: 86px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.block07::after {
    content: '';
    display: block;
    border-top: 72px solid transparent;
    border-right: 97vw solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.block07__prev>p {
    margin-left: 12.3%;
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 23px;
    display: inline-block;
    max-width: 548px;
}

.block07__list {
    width: 210px;
    height: 284px;
    background: #97B13C;
    border-radius: 6px;
    overflow: hidden;
    color: #FFF;
    margin-top: 10px;
    transition: 0.1s;
    text-align: right;
    align-items: center;
}

.owl-item {
    padding: 0;
    margin: 0;
    width: 200px;
}

.owl-item.active.center {
    transition: 0.3s;
    transform: scale(1.17);
}

.block07__list {
    margin: 0 auto;
    ;
}

.block07__owlwrapper {
    width: 85%;
    margin: 0 auto;
}

.block07__listcontainer {
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
}

.block07__list .block07__listimg {
    width: 210px;
    height: 153px;
}

#block07__pic-feedback-1 {
    background: url('..//images/pic-feedback-1.png') no-repeat center / cover;
}

#block07__pic-feedback-2 {
    background: url('../images/pic-feedback-2.png') no-repeat center / cover;
}

#block07__pic-feedback-3 {
    background: url('../images/pic-feedback-3.png') no-repeat center / cover;
}

#block07__pic-feedback-4 {
    background: url('../images/pic-feedback-4.jpg') no-repeat center / cover;
}

#block07__pic-feedback-5 {
    background: url('../images/pic-feedback-5.webp') no-repeat top center / cover;
}

.block07__list .block07__listtitle {
    margin: auto 16px auto;
}

.block07__list div h4 {
    margin-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
}

.block07__list div p {
    margin-top: 14px auto;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size:0.75rem;
    line-height: 0.875rem;
    color: #FFF;
    }

.block07__list div p:last-child {
    margin-top: 22px auto;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    font-size: .625rem;
    line-height: .75rem;
}

/* Блок с обратной связью*/

.block08__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    padding-top: 37px;
    padding-bottom: 61px;
}

.block08__img {
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.137);
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    flex-shrink: 20;
    position: relative;
    height: 527px;
    flex-basis: 366px;
}

.block08__formcontainer {
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.137);
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    position: relative;
    flex-basis: 414px;
    flex-shrink: 1;
}

.block08__img::after {
    content: "";
    display: block;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    background-image: linear-gradient(to right, #fdfdfd00, #ffffff);
}

.block08__form {
    background: #FFFFFF;
}

.block08__form>div {
    position: relative;
}

.block08__form h4 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #A3CC40;
    width: 344px;
    margin: 31px auto 0 88px;
    text-align: left
}

.block08__container input {
    margin: 20px auto 0 5.81%;
    width: 344px;
    border: 1px solid transparent;
    height: 40px;
    color: #A1A1A1;
    font-size: 1rem;
    line-height: 1.26em;
    padding-left: 4.65%;
    padding-top: 12px;
    border-radius: 5px;
    transition: 0.1s;
}

.block08__form label {
    font-size: 1rem;
    line-height: 1.26em;
    background: transparent;
    position: absolute;
    transition: 0.1s;
}

label[for="username"] {
    left: 36px;
    top: 34px;
    color: #A1A1A1;
}

label[for="seatnumber"] {
    color: #A1A1A1;
    left: 36px;
    top: 44px;
}

label[for="feedback-area"] {
    color: #A1A1A1;
    left: 34px;
    top: 44px;
}

input#username:hover~label[for="username"], select#seatnumber:hover~label[for="seatnumber"], textarea#feedback-area:hover~label[for="feedback-area"] {
    transform: translateY(-28px);
    background: #FFFFFF;
    transition: 0.1s;
}

label.st-usernamelabel-focused {
    transform: translateY(-28px);
    background: #FFFFFF;
    transition: 0.1s;

}

input#username:hover, select#seatnumber:hover, textarea#feedback-area:hover {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(170, 243, 77, 0.52);
    transition: 0.1s;
}

input.st-username-focused, select.st-username-focused, textarea.st-username-focused {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(170, 243, 77, 0.52);
    transition: 0.1s;
    color: #A1A1A1;
}

.st-username-error {
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.52);
}

.st-username-error-msg {
    visibility: visible;
}

.block08__container input::-webkit-input-placeholder {
    color: #A1A1A1;
}

.block08__container input::-moz-placeholder {
    color: #A1A1A1;
}

.block08__container select {
    margin: 31px auto 0 5.81%;
    width: 344px;
    /* border: none; */
    height: 40px;
    color: #A1A1A1;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-left: 4.65%;
    padding-top: 8px;
    border-radius: 5px;
    padding-right: 15px;
}

textarea {
    background: #DEDEDE;
    border: none;
}

.block08__container textarea {
    margin: 30px auto 0 5.81%;
    width: 344px;
    height: 130px;
    
    color: #A1A1A1;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-left: 4.65%;
    padding-top: 13px;
    border-radius: 5px;
    padding-right: 4.65%;
}

.block08__container textarea::-webkit-input-placeholder {
    color: #A1A1A1;
}

.block08__container textarea::-moz-placeholder {
    color: #A1A1A1;
}

input#agreement+label {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: .625rem;
    line-height: .875rem;
    /* identical to box height */
    color: #333333;
    position: relative;
    padding-left: 8.72%;
}

input#agreement+label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    margin-right: 0.54rem;
    border: 1px solid #A3CC40;
    border-radius: 5px;
    left: -1px;
}

input[type="checkbox"]#agreement:checked+label::before {
    background: url("../images/check-mark.svg") no-repeat center;
}

.block08__argeementform {
    margin-top: 22px;
    margin-left: 5.81%;
}

.block08__argeementbtn {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 46px;
    margin-left: 5.81%;
    border: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.block08__argeementbtn:hover{
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgb(144 210 61 / 30%);
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    letter-spacing: 2px;
    font-size: 1.375rem;
}

/* Блок с картой*/

.block09 {
    margin: 0 auto;
    max-width: 973px;
    z-index: 1;
    position: relative;
}

#imgMap {
    width: 100%;
    border-radius: 20px;
    z-index: inherit;
}

/* Footer */

footer {
    width: 100%;
    height: 360px;
    background: #A3CC40;
    margin-top: -22px;
    z-index: 9;
    color: white;
    position: relative;
}

.footer__container {
    padding-top: 86px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.footer__container::before {
    content: ' ';
    width: 5.625rem;
    height: 6.625rem;
    position: absolute;
    left: 0px;
    top: 123px;
    background: rgba(196, 196, 196, 1);
}

.footer__container::after {
    content: ' ';
    width: 5.625rem;
    height: 6.625rem;
    position: absolute;
    right: 0px;
    top: 123px;
    background: rgba(196, 196, 196, 1);
}

.footer__firstcol {
    flex-basis: 47%;
    height: 244px;
    flex-shrink: 3;
    padding-left: 9.09%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__firstcolp {
    max-width: 269px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    width: 59.87%;
}



.footer__iconcontainer {
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 100%;
    background: rgba(190, 233, 86, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    position: relative;
}

.footer__iconcontainer svg {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%
}

.footer__iconcontainer:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    background: rgb(243, 241, 241);
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;
}

.footer__iconcontainer:hover svg path[fill="white"] {
    fill: rgba(163, 204, 64, 0.8);
    transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.footer__firstcolrights {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
}

.footer__secondcol h4 {
    text-transform: uppercase;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.footer__secondcol {
    flex-basis: 18.65%;
    height: 244px;
    flex-shrink: 1;
    text-transform: uppercase;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__secondcol p:first-of-type {
    padding-top: 22px;
}

.footer__secondcol p {
    padding-top: 14px;
}

.footer__thirdcol {
    flex-basis: 160px;
    height: 244px;
    flex-shrink: 5;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__thirdcol h4 {
    text-transform: uppercase;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.footer__thirdcol p:first-of-type {
    padding-top: 22px;
}

.footer__thirdcol p {
    padding-top: 12px;
}

/* Частные элементы */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#bgCinemaImg1 {
    background: url('../images/bg-movie-1.png') no-repeat center / cover;
}

#bgCinemaImg2 {
    background: url('../images/bg-movie-2.png') no-repeat center / cover;
}

#bgCinemaImg3 {
    background: url('../images/bg-movie-3.png') no-repeat center / cover;
}

#bgCinemaImg4 {
    background: url('../images/bg-movie-4.png') no-repeat center / cover;
}

#bgCinemaImg5 {
    background: url('../images/bg-movie-5.png') no-repeat center / cover;
}

#bgCinemaImg6 {
    background: url('../images/bg-movie-6.png') no-repeat center / cover;
}

#bgCinemaImg7 {
    background: url('../images/bg-movie-7.png') no-repeat center / cover;
}

#bgCinemaImg8 {
    background: url('../images/bg-movie-8.png') no-repeat center / cover;
}

#bgCinemaImg9 {
    background: url('../images/bg-movie-9.png') no-repeat center / cover;
}

#goodsPic1 {
    background: url('../images/bg-goods-1.png') no-repeat center / cover;
}

#goodsPic2 {
    background: url('../images/bg-goods-2.png') no-repeat center / cover;
}

#goodsPic3 {
    background: url('../images/bg-goods-3.png') no-repeat center / cover;
}


#backPoster {
    background: url('../images/bg-feedbacksection.png') no-repeat center / cover;
}

.footer__icons svg :hover {
    fill: #A3CC40;
    transition: all .8s ease;
}

/* После переноса svg вниз, перестал работать hover, я все вернул обратно, вновь начал работать */

/** Медиа – правила */