

.popup {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.24);
    z-index: 9;
}

.form-wrapper {
    background: #fff;
    margin: 50vh auto;
    max-width: 600px;
    min-height: 500px;
    border-radius: 40px;
    position: relative;
    top: -200px;
}

.close {
    position: absolute;
    top: 22px;
    right: 22px;
    border: none;
    width: 35px;
    height: 35px;
    background: transparent;
    background-image: url(/images/btn-close.svg);
    z-index: 1;
}

.close:hover {
    background-image: url(/images/btn-close-hover.svg);
}

.hidden {
    display: none;
}

/* Стилизация input полей и label */

.modal__inputwrapper {
    padding-top: 90px;
    padding-left: 20px;
    position: relative;
}

.modal__inputwrapper>div {
    position: relative;
}

.modal__inputwrapper label {
    font-size: 15px;
    line-height: 1.26em;
    background: transparent;
    position: absolute;
    transition: 0.1s;
    white-space: nowrap;
}

label[for="usernamegift"] {
    left: 36px;
    top: 34px;
    color: #A1A1A1;
}

label[for="emailgift"] {
    color: #A1A1A1;
    left: 36px;
    top: 32px;
}

label[for="selectgift"] {
    color: #A1A1A1;
    left: 36px;
    top: 32px;
}

input, select{
    background: #DEDEDE;
    color: #A1A1A1;
    border: none;
}

.modal__inputwrapper input, .modal__inputwrapper input, .modal__inputwrapper select {
    margin: 20px auto 0 20px;
    width: 500px;
    
    
    height: 40px;
    
    font-size: 15px;
    line-height: 1.26em;
    padding-left: 16px;
    padding-top: 10px;
    border-radius: 5px;
}

#usernamegift:hover~label[for="usernamegift"], #emailgift:hover~label[for="emailgift"], #selectgift:hover~label[for="selectgift"] {
    transform: translateY(-26px);
    background: #FFFFFF;
    transition: 0.1s;
    padding: 3px;
}
label.st-usernamegiftlabel-focused{
    transform: translateY(-26px);
    background: #FFFFFF;
    transition: 0.1s;
    
}


input#usernamegift:hover, input#emailgift:hover, select#selectgift:hover {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(170, 243, 77, 0.52);
    transition: 0.1s;
}
input#usernamegift:hover, input#emailgift:hover, select#selectgift:hover {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(170, 243, 77, 0.52);
    transition: 0.1s;
}

/* input#usernamegift:focus~label[for="usernamegift"] {
    transform: translateY(-26px);
    background: #FFFFFF;
    transition: 0.1s;
} */

/* input#usernamegift:focus */

.st-usernamegift-focused {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0 0 0 5px rgba(170, 243, 77, 0.52);
    transition: 0.1s;
}

.st-usernamegift-error {
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.52);
    
}

form label~p {
    color: red;
    font-size: 12px;
    position: relative;
    top: -12px;
    left: 36px;
    visibility: hidden;
}

.st-usernamegift-error-msg {
    visibility:visible;
    
}

input#usernamegift::-webkit-input-placeholder, input#emailgift::-webkit-input-placeholder {
    color: #ffffff;
}

input#usernamegift::-moz-placeholder, input#emailgift::-moz-placeholder {
    color: #ffffff;
}

input#agreementforgift+label {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */
    color: #333333;
    position: relative;
    padding-left: 30px;
}

input#agreementforgift+label::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    margin-right: 0.54rem;
    border: 1px solid #A3CC40;
    border-radius: 5px;
    left: -1px;
}

input[type="checkbox"]#agreementforgift:checked+label::before {
    background: url("../images/check-mark.svg") no-repeat center;
}

.modal__argeementform {
    margin-top: 29px;
    margin-left: 20px;
}

.modal__argeementbtn {
    margin-top: 42px;
    margin-left: 20px;
    border: none;
    width: 500px;
    background: #A3CC40;
    border-radius: 6px;
    font-size: 20px;
    line-height: 2.5rem;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.modal__argeementbtn:hover{
    background: #FFFFFF;
    border: 1px solid rgba(163, 204, 64, 0.62);
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgb(144 210 61 / 30%);
    color: #A3CC40;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    letter-spacing: 3px;
    font-size: 24px;
}

/* Стилизация полей при наведении и модификаторах */