/* ibm-plex-sans-100*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansthin.woff') format('woff'), url('../fonts/Ibmplexsansthin.woff2') format('woff2')
}

/* ibm-plex-sans-regular*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsans.woff') format('woff'), url('../fonts/Ibmplexsans.woff2') format('woff2')
}

/* ibm-plex-sans-600 */

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/Ibmplexsansmedium.woff') format('woff'), url('../fonts/Ibmplexsansmedium.woff2') format('woff2')
}

html {
    font-family: IBM Plex Sans;
    
}

body {
    max-width: 1920px;
}

header {
    display: block;
    box-sizing: border-box;
    font-style: normal;
    color: white;
    min-height: 500px;
    background: url('../images/bg-pic-header.jpg') no-repeat center/cover;
}

.nav__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoInno {
    margin: 45px 44px auto 89px;
}

.row1, .row2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    padding: auto;
    display: flex;
    justify-content: space-around;
}

.row1 {
    margin-top: 45px;
}

.lang__sel {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 55px 100px auto auto;
}

.lang__sel p {
    margin: 0 5px 0;
}

.lang__sel svg {
    margin: auto;
}

.row1>* {
    padding: 0;
    margin: 0 50px 0 0;
}

.link__underline {
    border-bottom: 1px solid;
}

.row1>:hover, .row2>:hover {
    color: lawngreen;
}

.callback {
    /* width: 130px;
    height: 21px; */
    font-family: inherit;
    border-radius: 6px;
    background: #FFF;
    color: #333333;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    height: fit-content;
}

.callback svg {
    margin: auto 3px;
}

.callback div {
    padding: auto;
    margin: auto 4px;
}

a {
    color: inherit;
    text-decoration: none;
}

header div h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
    margin: 131px auto 0;
}

header div h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin: 14px auto 0;
    padding-bottom: 200px;
}
section{
    padding: 0;
    margin: 0;
}
.block00 {
    width: 426px;
    height: 221px;
    
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    display: block;
    position: relative;
    left: 50%;
    top: -100px;
    margin-bottom: -100px;
    
}

.block00 h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    /* identical to box height */
    color: #333333;
    padding: 30px 0 0;
    margin:  0 auto;
    text-align: center;
    
}

.block00 p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #333333;
    text-align: center;
}

.block01{
    padding: 0;
    margin: 0 auto;
}

.block01__advant{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.block01__advant>div{
    width: 245px;
    height: 338px;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

form {
    color: white;
}

td, th {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 14px 15px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px auto 30px;
    width: 849px;
    table-layout: fixed;
}

.block03__table th {
    background: #A3CC40;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px;
}

.block03__table tr td {
    background: #373737;
}

.block03__table tr:nth-child(2n) td {
    background: #4C4D4F;
}

.block03__table__firstcol {
    width: 46px;
    text-align: center;
}

/* #block03__table__secondcol {
    width: 210px;
} */

/* #block03__table__thirdcol {
    width: 220px;
} */

/* #block03__table__fourcol {
    width: 272px;
} */

.block03__title {
    width: 849px;
    margin: 0px auto 84px;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    margin: inherit;
    
}

.block03__parag {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    width: 539px;
    margin: 0px auto 30px;
    padding: 0px 10px 40px;
    vertical-align: top;
}

form button {
    height: 57px;
    width: 344px;
    background: #A3CC40;
    border-radius: 6px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    /* background-color: white;
    background-repeat: no-repeat;
    background-size: cover; */
    max-width: 284px;
    height: 284px;
    background: white no-repeat center / cover;
}

.goodsSelect {
    /* background-color: white;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 331px;
    width: 245px;
    background: white no-repeat center / cover;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#bgCinemaImg1 {
    background: url('../images/bg-movie-1.png');
}

#bgCinemaImg2 {
    background: url('../images/bg-movie-2.png');
}

#bgCinemaImg3 {
    background: url('../images/bg-movie-3.png');
}

#bgCinemaImg4 {
    background: url('../images/bg-movie-4.png');
}

#goodsPic1 {
    background: url('../images/bg-goods-1.png');
}

#goodsPic2 {
    background: url('../images/bg-goods-2.png');
}

#goodsPic3 {
    background: url('../images/bg-goods-3.png');
}

#logoInno {
    padding: 20px;
}

#imgPresent {
    width: 302px;
    height: 303px;
}

#backPoster {
    height: 527px;
    width: 414px;
    background: url('../images/bg-feedbacksection.png');
}

#imgMap {
    max-height: 421px;
    max-width: 973px;
    border-radius: 20px;
}

.block03__table__firstcol:hover svg path {
    fill: #A3CC40;
    transition: all .8s ease;
}