/* ibm-plex-sans-100*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('ttf');
    /* IE9 Compat Modes */
    /*src: local(''),
         url('../fonts/ibm-plex-sans-v8-latin-100.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ibm-plex-sans-v8-latin-100.woff2') format('woff2'), 
         url('../fonts/ibm-plex-sans-v8-latin-100.woff') format('woff'), 
         url('../fonts/ibm-plex-sans-v8-latin-100.ttf') format('truetype'), 
         url('../fonts/ibm-plex-sans-v8-latin-100.svg#IBMPlexSans') format('svg');  */
}

/* ibm-plex-sans-regular*/

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('ttf');
    /* IE9 Compat Modes */
    /*src: local(''),
         url('../fonts/ibm-plex-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ibm-plex-sans-v8-latin-regular.woff2') format('woff2'),
         url('../fonts/ibm-plex-sans-v8-latin-regular.woff') format('woff'), 
         url('../fonts/ibm-plex-sans-v8-latin-regular.ttf') format('truetype'), 
         url('../fonts/ibm-plex-sans-v8-latin-regular.svg#IBMPlexSans') format('svg'); */
}

/* ibm-plex-sans-600 */

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexSans-Medium.ttf') format('ttf');
    /* IE9 Compat Modes */
    /*src: local(''),
         url('../fonts/ibm-plex-sans-v8-latin-600.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ibm-plex-sans-v8-latin-600.woff2') format('woff2'), 
         url('../fonts/ibm-plex-sans-v8-latin-600.woff') format('woff'), 
         url('../fonts/ibm-plex-sans-v8-latin-600.ttf') format('truetype'), 
         url('../fonts/ibm-plex-sans-v8-latin-600.svg#IBMPlexSans') format('svg');  */
}

html {
    font-family: IBM Plex Sans;
}

header {
    display: block;
    background-color: blue;
    background-image: url('../images/bg-pic-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-style: normal;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

form {
    color: white;
}

td, th {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    padding: 14px 15px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    margin: 0px auto 30px;
    width: 849px;
    height: 225px;
    table-layout: fixed;
}

.block03__table th {
    background: #A3CC40;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    padding: 10px;
}

.block03__table__greyrow {
    background-color: #4C4D4F;
}

.block03__table__blackrow {
    background-color: #373737;
}

#block03__table__firstcol {
    width: 46px;
    text-align: center;
}

/* #block03__table__secondcol {
    width: 210px;
} */

/* #block03__table__thirdcol {
    width: 220px;
} */

/* #block03__table__fourcol {
    width: 272px;
} */

.block03__title {
    width: 849px;
    margin: 0px auto 84px;
}

.block03__title h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    margin: inherit;
}

.block03__parag {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
    width: 539px;
    margin: 0px auto 30px;
    padding: 0px 10px 40px;
    vertical-align: top;
}

form button {
    height: 57px;
    width: 344px;
    background: #A3CC40;
    border-radius: 6px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 284px;
    height: 284px;
}

.goodsSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 331px;
    width: 245px;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#bgCinemaImg1 {
    background-image: url('../images/bg-movie-1.png');
}

#bgCinemaImg2 {
    background-image: url('../images/bg-movie-2.png');
}

#bgCinemaImg3 {
    background-image: url('../images/bg-movie-3.png');
}

#bgCinemaImg4 {
    background-image: url('../images/bg-movie-4.png');
}

#goodsPic1 {
    background-image: url('../images/bg-goods-1.png');
}

#goodsPic2 {
    background-image: url('../images/bg-goods-2.png');
}

#goodsPic3 {
    background-image: url('../images/bg-goods-3.png');
}

#logoInno {
    padding: 20px;
}

#imgPresent {
    width: 302px;
    height: 303px;
}

#backPoster {
    height: 527px;
    width: 414px;
    background-image: url('../images/bg-feedbacksection.png');
}

#imgMap {
    max-height: 421px;
    max-width: 973px;
    border-radius: 20px;
}