body {
    font-family: IBM Plex Sans;
}

header {
    display: block;
    background-color: blue;
    background-image: url('../images/bg-pic-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: IBM Plex Sans;
    font-style: normal;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

form {
    color: white;
}



td, th {
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.block03__table {
    border-collapse: collapse;
    margin: auto 138px;
    color: #FFFFFF;
}

.block03__table th {
    background: #A3CC40;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    
    padding: 10px 0 auto;
}
.block03__table__greyrow{
    background-color: #4C4D4F;
}
.block03__table__blackrow{
    background-color: #373737;
}

form button {
    height: 57px;
    width: 344px;
    background: #A3CC40;
    border-radius: 6px;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 284px;
    height: 284px;
}

.goodsSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 331px;
    width: 245px;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#bgCinemaImg1 {
    background-image: url('../images/bg-movie-1.png');
}

#bgCinemaImg2 {
    background-image: url('../images/bg-movie-2.png');
}

#bgCinemaImg3 {
    background-image: url('../images/bg-movie-3.png');
}

#bgCinemaImg4 {
    background-image: url('../images/bg-movie-4.png');
}

#goodsPic1 {
    background-image: url('../images/bg-goods-1.png');
}

#goodsPic2 {
    background-image: url('../images/bg-goods-2.png');
}

#goodsPic3 {
    background-image: url('../images/bg-goods-3.png');
}

#logoInno {
    padding: 20px;
}

#imgPresent {
    width: 302px;
    height: 303px;
}

#backPoster {
    height: 527px;
    width: 414px;
    background-image: url('../images/bg-feedbacksection.png');
}

#imgMap {
    max-height: 421px;
    max-width: 973px;
    border-radius: 20px;
}