header {
    display: block;
    background-color: blue;
    background-image: url('../images/bg-pic-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: IBM Plex Sans;
    font-style: normal;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

ol li {
    color: blue;
}

li p {
    color: black;
    margin: 0;
}

table {
    border-collapse: collapse;
    margin-left: 137px;
    margin-right: 137px;
    text-align: center;
}

td, th {
    border: 1px solid black;
}

.cinemaImg {
    width: 245px;
}

.movieSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 284px;
    height: 284px;
}

.goodsSelect {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 331px;
    width: 245px;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#bgCinemaImg1 {
    background-image: url('../images/bg-movie-1.png');
}

#bgCinemaImg2 {
    background-image: url('../images/bg-movie-2.png');
}

#bgCinemaImg3 {
    background-image: url('../images/bg-movie-3.png');
}

#bgCinemaImg4 {
    background-image: url('../images/bg-movie-4.png');
}

#goodsPic1 {
    background-image: url('../images/bg-goods-1.png');
}

#goodsPic2 {
    background-image: url('../images/bg-goods-2.png');
}

#goodsPic3 {
    background-image: url('../images/bg-goods-3.png');
}

#logoInno {
    padding: 20px;
}

#imgPresent {
    width: 302px;
    height: 303px;
}

#backPoster {
    height: 527px;
    width: 414px;
    background-image: url('../images/bg-feedbacksection.png');
}

#imgMap {
    max-height: 421px;
    max-width: 973px;
    border-radius: 20px;
}